/* 공지사항 */
ul.ul-list-notice li {
  display: flex;
  align-items: center;
  border: 1px solid #dee2e5;
  padding: 2rem;
  background: #fff;
}
ul.ul-list-notice li.bg {
  background: #ebf3ff;
}
ul.ul-list-notice li .info {
  font-size: 1.2rem;
  font-weight: 500;
  color: #858e96;
}
ul.ul-list-notice li .info span {
  display: inline-block;
  vertical-align: middle;
  height: 1rem;
  border-right: 1px solid #ced4da;
  margin: 0 0.5rem;
}
ul.ul-list-notice li .subject {
  margin: 0 0 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #495057;
}
ul.ul-list-notice li .subject.active {
  color: #388cff;
}

ul.ul-list-notice li .btn-toggle-notice {
  width: 5rem;
  height: 5rem;
  background: url('./images/ico-small-down.png') 50% 50% no-repeat;
}
ul.ul-list-notice li .btn-toggle-notice.active {
  width: 5rem;
  height: 5rem;
  background: url('./images/ico-small-up.png') 50% 50% no-repeat;
}
ul.ul-list-notice li.comment {
  display: none;
  border-top: 0;
  font-size: 1.3rem;
  color: #495057;
  background: #fff;
}
ul.ul-list-notice li.comment.active {
  display: block;
}

.ico-new {
  font-family: 'Arial';
  margin-left: 0.5rem;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 1.2rem;
  background: #388cff;
  font-size: 1rem;
  color: #fff;
}
